[Unit]
Description=Start/restart siptools_research workflows
Requires=luigid-3.service mongod.service
After=luigid-3.service mongod.service
Conflicts=siptools_research.timer siptools_research.service

[Service]
User=siptools_research
Type=oneshot
ExecStart=/usr/bin/luigi-3 --module siptools_research.workflow_init InitWorkflows --config /etc/siptools_research.conf --logging-conf-file /etc/luigi/research_logging.cfg

[Install]
WantedBy=multi-user.target
