[Unit]
Description=Start/restart siptools_research workflows
Requires=luigid.service mongod.service
After=luigid.service mongod.service
Conflicts=siptools_research-3.timer siptools_research-3.service

[Service]
User=siptools_research
Type=oneshot
ExecStart=/usr/bin/luigi --module siptools_research.workflow_init InitWorkflows --config /etc/siptools_research.conf --logging-conf-file /etc/luigi/research_logging.cfg

[Install]
WantedBy=multi-user.target
